h1 {
    font-weight: normal;
    border: 10px;
    padding: 30px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(a5bg.png);
}

h2 {
    border-bottom: 5px solid black;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    border: 10px;
    background-color: white;
    padding: 30px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 0px;
    background-color: navy;  
    display: inline-block; 
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: normal;
}

nav li a:hover {
    background-color: blue ;
    text-decoration: none;
    color: white;
}

footer {
    border: 1px solid white;
    background-color: darkblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin: 30px;
    text-align: center;
}